*{
	padding: 0;
	margin: 0;
}

:focus{
	outline: none;
}

.connexion .logo{
	padding-top: 10px;
	text-align: center;
	font-size: 28px;
	font-family: Roboto;
}

.connexion .logo img{
	width: 91px;
	margin-top: 19px;
	border-radius: 7px;
	box-shadow: 0 0px 9px;
	transition: box-shadow 0.2s;
}

.connexion .logo img:hover{
	box-shadow: 0 0 4px;
}

.connexion .form{
	text-align: center;
	font-family: Roboto;
	/* background-color: #f7f7f7; */
}

.connexion .form form {
    margin: auto;
    text-align: center;
    background-color: #f7f7f7;
    width: 340px;
    /* height: 300px; */
    margin-top: 25px;
    margin-bottom: 25px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
    padding: 20px 0 20px 0;
}

.connexion .form form .texte {
	padding: 15px;
	font-size: 20px;
}

.connexion .form input{
	margin-bottom: 26px;
	padding: 12px;
	border-radius: 2px;
	border: solid 1px #13b71f;
	/* background-color: #ffffff; */
	font-family: Roboto;
	font-size: 16px;
	transition: box-shadow 0.1s;
	width: 213px;
}

.connexion .form input:hover{
	/* box-shadow: 0px 0px 1px 0px; */
}

.connexion .form input[type=submit]{
	width: 180px;
	background-color: #13cc21;
	background-image: -webkit-linear-gradient(top, #0ee41e, #13cc21);
	font-size: 18px;
	border: solid 1px #13b71f;
	/* margin: 15px; */
	padding: 7px;
}

.connexion .form input[type=submit]:hover{
	/* color: #fff; */
	/* border-color: black; */
	box-shadow: rgba(0,0,0,0.5) 0px 0px 1px 0;
}

.panel .header{
	background-color: #e0e0e0;
	padding: 15px;
	margin-bottom: 20px;
	box-shadow: #e8e8e8 0 2px 3px 1px;
}

.panel .center{
	margin-left: auto;
	margin-right: auto;
}

@media screen and (min-width: 1000px){
	.panel .center{
		width: 980px;
	}
}

@media screen and (min-width: 700px) and (max-width: 999px){
	.panel .center{
		width: 660px;
	}
}

@media screen and (max-width: 699px){
	.panel .center{
		width: 340px;
	}
}

.panel .center .groupe_tuile{
	background: linear-gradient( to left top, #f7f7f7, #e8e8e8);
	padding: 10px 10px 10px 14px;
	list-style: none;
	display: table-caption;
	box-shadow: #e8e8e8 1px 1px 2px;
}

.panel .center .groupe_tuile .tuile3, .panel .center .groupe_tuile .tuile2, .panel .center .groupe_tuile .tuile1{
	background-color: rgba(232, 232, 232, 0);
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 7px;
	margin-bottom: 7px;
	display: inline-block;
	transition: width 0.5s cubic-bezier(0.26, 0.16, 0.4, 1.4);
	margin-left: -4px;
	box-shadow: inset #d6d6d6 -1px -1px 6px 1px;
}

.panel .center .groupe_tuile .tuile3 h3, .panel .center .groupe_tuile .tuile2 h3, .panel .center .groupe_tuile .tuile1 h3{
	/* background-color: rgba(0, 0, 0, 0.2); */
	display: inline-block;
	padding: 3px;
	font-family: Roboto;
}

@media screen and (min-width: 1000px){
	.panel .center .groupe_tuile .tuile3{
		width: 900px;
		padding-left: 30px;
		padding-right: 30px;
	}
	
	.panel .center .groupe_tuile .tuile2{
		width: 600px;
		padding-left: 20px;
		padding-right: 20px;
	}
	
	.panel .center .groupe_tuile .tuile1{
		width: 300px;
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media screen and (min-width: 700px) and (max-width: 999px){
	.panel .center .groupe_tuile .tuile3, .panel .center .groupe_tuile .tuile2{
		width: 600px;
		padding-left: 20px;
		padding-right: 20px;
	}
	
	.panel .center .groupe_tuile .tuile1{
		width: 300px;
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media screen and (max-width: 699px){
	.panel .center .groupe_tuile .tuile3, .panel .center .groupe_tuile .tuile2, .panel .center .groupe_tuile .tuile1{
		width: 300px;
		padding-left: 10px;
		padding-right: 10px;
	}
}